@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translate(-1rem);
            transform: translate(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translate(-1rem);
            transform: translate(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 46.75em) {
  html {
    font-size: 45%;
  }
}

@media screen and (max-width: 28.12em) {
  html {
    font-size: 40%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3rem;
}

@media screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

::-moz-selection {
  background-color: #00b16a;
  color: #ffff;
}

::selection {
  background-color: #00b16a;
  color: #ffff;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [ini-lat-esq] minmax(6rem, 1fr) [fim-lat-esq ini-centro] ([col-start] minmax(min-content, 14rem) [col-end])[8] [fim-centro ini-lat-dir] minmax(6rem, 1fr) [fim-lat-dir];
      grid-template-columns: [ini-lat-esq] minmax(6rem, 1fr) [fim-lat-esq ini-centro] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [fim-centro ini-lat-dir] minmax(6rem, 1fr) [fim-lat-dir];
      grid-template-columns: [ini-lat-esq] minmax(6rem, 1fr) [fim-lat-esq ini-centro] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [fim-centro ini-lat-dir] minmax(6rem, 1fr) [fim-lat-dir];
}

body {
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.heading-1 {
  font-weight: 300;
  font-size: 7.5rem;
  color: #e8e8e8;
  text-transform: uppercase;
  -webkit-animation-name: moveInRight;
          animation-name: moveInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@media screen and (max-width: 56.25em) {
  .heading-1 {
    font-size: 6rem;
  }
}

.heading-2 {
  font-size: 1.7rem;
  font-weight: 400;
  color: #e8e8e8;
  text-transform: uppercase;
  margin-left: 1rem;
  -webkit-animation-name: moveInBottom;
          animation-name: moveInBottom;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@media screen and (max-width: 56.25em) {
  .heading-2 {
    font-size: 1.7rem;
  }
}

.heading-3 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #7c7c7c;
  text-transform: uppercase;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-top-medium {
  margin-top: 4rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.u-margin-top-huge {
  margin-top: 10rem;
}

.servicos {
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7.5rem;
  padding: 15rem;
  background-color: #fdfdfd;
}

.servico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 0.5px #fdfdfd;
  padding: 3rem;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 177, 106, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 177, 106, 0.15);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.servico__imagem {
  height: 4.5rem;
  width: 4.5rem;
  fill: #66cc99;
}

.servico p {
  font-size: 1.6rem;
  text-align: center;
}

.servico:hover {
  -webkit-transform: translateY(-1.5rem);
          transform: translateY(-1.5rem);
  background-image: linear-gradient(125deg, rgba(102, 204, 153, 0.9) 0%, rgba(102, 204, 153, 0.9) 10%, transparent 40%);
  border: solid 0.5px #66cc99;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

.header {
  height: 80vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(102, 204, 153, 0.8)), to(rgba(0, 177, 106, 0.8))), url(../img/zen-back.jpg);
  background-image: linear-gradient(to bottom right, rgba(102, 204, 153, 0.8), rgba(0, 177, 106, 0.8)), url(../img/zen-back.jpg);
  background-size: cover;
  background-position: top;
  grid-column: ini-lat-esq / fim-lat-dir;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__heading {
  padding-left: 10rem;
}

@media screen and (max-width: 56.25em) {
  .header__heading {
    padding-left: 5rem;
  }
}

@media screen and (max-width: 31.25em) {
  .header__heading {
    padding-left: 2.5rem;
  }
}

@media screen and (max-width: 28.12em) {
  .header__heading {
    padding-left: 1.8rem;
  }
}

.localizacao {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(102, 204, 153, 0.8)), to(rgba(0, 177, 106, 0.8)));
  background-image: linear-gradient(to bottom right, rgba(102, 204, 153, 0.8), rgba(0, 177, 106, 0.8));
  display: -ms-grid;
  display: grid;
  grid-column: ini-lat-esq / fim-lat-dir;
  -ms-grid-columns: 50vw;
      grid-template-columns: 50vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15rem 0;
}

@media screen and (max-width: 28.12em) {
  .localizacao {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 5rem 0;
  }
}

.localizacao__grupo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  background-color: #ffffff;
  padding: 2.5rem;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.55);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.55);
  grid-column-gap: 1rem;
  grid-row-gap: 1.5rem;
}

.localizacao__alineas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[2];
      grid-template-columns: repeat(2, -webkit-max-content);
      grid-template-columns: repeat(2, max-content);
  justify-items: center;
  grid-gap: 1rem;
}

.localizacao__alineas--1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-flex-item-align: top;
      -ms-grid-row-align: top;
      align-self: top;
}

.localizacao__alineas--2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.localizacao__alineas--3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.localizacao__icon {
  height: 2rem;
  width: 2rem;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 75%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
